force-app/main/default/flows/Update_trails_time_and_points.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Sum_things</name>
        <label>Sum things</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>Points_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Trail_Modules.Points__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Time_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Trail_Modules.Estimated_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Trail_Modules</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update trails time and points {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update trails time and points</label>
    <loops>
        <name>Loop_Trail_Modules</name>
        <label>Loop Trail Modules</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_all_Trail_Modules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_things</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_trail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Trail_Modules</name>
        <label>Get all Trail Modules</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Trail_Modules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Trail_Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_trail</name>
        <label>Update trail</label>
        <locationX>176</locationX>
        <locationY>732</locationY>
        <inputAssignments>
            <field>Estimated_Time__c</field>
            <value>
                <elementReference>Time_Counter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Points__c</field>
            <value>
                <elementReference>Points_Counter</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Trail_Modules</targetReference>
        </connector>
        <object>Trail__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-04-06</startDate>
            <startTime>09:31:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Points_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Time_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
